body { 
	background-color:rgb(245, 240, 228) ;
	color:rgb(245, 240, 228) ;
	font-family: Apple Chancery, serif;
	line-height: 1.6;
	font-size: 30px;
	font-weight: lighter;
	text-align: center;

	 } 

 h1{ font-weight: lighter;
 	font-size: 100px;
 	background-color:rgb(230, 140, 30)

 	}
 p{ 
 	font-size: 50px;
 	color: black;
   }

h2{ 
color:rgb(230, 140, 30);
font-size: 60px;
font-weight: light;
    }
a{ text-decoration: none;
   transition: 0.3s ease;
 font-size: 30px;
	font-weight: 800;
	color: black;
	 }
a:hover{ color: white;
	}
.img-circle { 
	border-radius: 50%;
	
	}
.img-bordered{ 
	border: 20px solid black;
}

#img-shadow { 
	box-shadow: 10px 20px 20px rgba(0, 0, 0, 9);
	}
.container { 

			box-shadow: 10px 20px 0px;rgba(0, 0, 0, 9)
			width: 700px;
			margin: 40px;
	}

@media { 
.container;{ 
	width: 700px auto;
	}
}

.@media{ 
.container{ 
	width: 500px auto;
	}
}

.@media { 
.container{ 
	width: 300px auto;
	}
}

.card-white{
	padding: 5000px;
	width: 1000px;
	margin: 2000px auto;
	background-color: rgb(247, 233, 203);
	padding: 50px ;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 9);
	border-radius: 4px;
	margin: 40px auto;
	text-align: center;
}
.btn-blue{
	background-color: rgb(230, 140, 30);
	padding: 15px 20px;
	}
.list-inline {
	list-style: none;
	padding-left: 0px;
	}

.list-inline li{
	display: inline;
	padding: 10px;
	}
.list-inline i {
	font-size: 100px;
	color: black;
}
.list-inline i:hover {
	font-size: 100px;
	color: white;
}












